<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="container">
            <p class="subtitle is-3">An expansion of <a href="http://opentps.org">OpenTPS</a> that enables the optimization of 3D range modulators for conformal FLASH proton therapy.</p>
        </div>
    </div>
</section>
